<!-- <div ng-cloak layout="column">
    <md-toolbar>
        <h3>Angular Material Starter</h3>
    </md-toolbar> -->

<!-- This is navigation bar -->

<!-- <div class="container-fluid" layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
            <md-list>
                <md-list-item>
                    <a href="#!signUp">
                        <md-button>
                            <img src="./app/image/tutor.png" class="avatar">
                            Student Sign up
                        </md-button>
                    </a>
                </md-list-item>

                <md-list-item>
                    <a href="#!sAdmin">
                        <md-button>
                            <img src="./app/image/students.png" class="avatar">
                            Student Login In
                        </md-button>
                    </a>
                </md-list-item>

            </md-list>
        </md-sidenav> -->

<!-- End of the Navbar and heading -->




<!-- Here onwards content take palce -->

<!-- <md-content id="content" flex>
            <div ng-view></div>
        </md-content>
    </div> -->