<!DOCTYPE html>
<html lang="en">

<head>
  <title>Library Management Tool </title>
  <link rel="icon" type="image/x-icon" href="../image/Library-icon.png">
  <meta name="description" content="Angular Material: UI Components with Dynamic Data">

  <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="../css/sty.css" />
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/simplelineicons/css/simple-line-icons.css">
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="../../bower_components/md-data-table-extended/dist/md-data-table.css"> -->

</head>

<body ng-app="user" ng-cloak layout="column">

  <md-toolbar layout="row" ng-controller="userFine">
    <h3 flex="70">
      <img src="../image/fixed-banner-image.svg" height="100px;" alt="logo-icon">
      Library Management Tool
    </h3>
    <div layout-padding layout="row" layout-align="center center">
      {{ Name }}
      <md-menu>
        <md-button aria-label="Open User Action" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <span class="icon-menu"></span>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="logout(Name,$event)">
              <div layout="row" flex>
                <p flex> Logout </p>
                <span class="icon-logout"></span>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <div layout="row" flex ng-controller="userFine">
    <md-sidenav md-is-locked-open="true" flex="20" class="md-whiteframe-z3" class=" md-whiteframe-4dp" flex="noshrink">
      <md-list>
        <md-list-item ng-if="role=='Admin'">
          <a href=" #!addbook">
            <md-button class="md-raised md-warm md-hue-1" style="padding-right: 45px;">
              <img src="../image/3300821.png" class="avatar" alt="AddingBook logo">
              Add Book
            </md-button>
          </a>
        </md-list-item>


        <md-list-item>
          <a href="#!managebook">
            <md-button class="md-raised md-warm">
              <img src="../image/1744105.png" class="avatar" alt="Managing Books logo">
              Manage Books
            </md-button>
          </a>
        </md-list-item>

        <md-list-item>
          <a href="#!takeBook" ng-if="role=='Admin'">
            <md-button class="md-raised md-warm" style="padding-right: 40px;">
              <img src=" ../image/rocket-book.png" class="avatar" alt="Managing Books logo">
              Take Book
            </md-button>
          </a>
        </md-list-item>

        <md-list-item>
          <a href="#!returnBook" ng-if="role=='Admin'">
            <md-button class="md-raised md-warm" style="padding-right:13px;">
              <img src="../image/722902.png" class="avatar" alt="Managing Books logo">
              Return Books
            </md-button>
          </a>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content flex id="content">
      <div ng-view></div>
    </md-content>
  </div>


  <!-- Here onwards Script file were added -->
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../../bower_components/angular-material/angular-material.js"></script>
  <script src="../../bower_components/angular-route/angular-route.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../js/main.script.js"></script>
  <script src="../js/mainController/addBookCtr.js"></script>
  <script src="../js/mainController/manageBookCtr.js"></script>
  <script src="../js/mainController/takeBookCtrl.js"></script>
  <script src="../js/mainController/returnBookCtrl.js"></script>
  <link rel=“stylesheet” href='../css/app.css'>
  <script src="../js/script.js"></script>
  <script src="../js/loginsc.js"></script>
  <script src="../js/custome/dateFilter.js"></script>

  <script src="../../bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
  <script src="../../bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="../../bower_components/md-data-table-extended/dist/md-data-table.js"></script>
  <!-- <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
  <!-- End of the Script files  -->

  <!-- <script>
    var main_app = angular.module('user', ['ngMaterial', 'ngRoute']);

    main_app.config(function ($routeProvider, $locationProvider) {
      $routeProvider
        .when("/addbook", {
          templateUrl: "app/template/main.content/add.book.html",
          controller: 'ad_book'
        })
        .when("/managebook", {
          templateUrl: "app/template/main.content/manage.book.html",
          controller: 'mng_book'
        })
    })

  </script> -->

</body>

</html>