<!-- Here onwards The Form field written -->

<div ng-controller="sending">

    <md-toolbar class="md-accent">
        <center>
            Welcome to Sign in page
            <img src="app/image/tutor.png" alt="image of tutor" class="avatar">
        </center>
    </md-toolbar>

    <form name="stuForm" method="post">
        <md-input-container class="md-icon-float md-block">
            <label>Name</label>
            <input type="text" rows="5" name="name" md-maxlength="30" ng-pattern="/^[a-zA-Z" "" ]\w{3,30}$/" required
                md-no-asterisk ng-model="udata.name">
            <div ng-messages="stuForm.name.$error">
                <div ng-message="pattern">Name should be more then 3 letters</div>
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Name Should be More then 30 letters.</div>

            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="email" required ng-model="udata.email" ng-pattern="/^.+@.+\..+$/" /">

            <div ng-messages="stuForm.email.$error" role="alert">
                <div ng-message="required">This is required.</div>
                <div ng-message-exp="['pattern']">
                    Invalid Email Id
                </div>
            </div>
        </md-input-container>



        <md-input-container class="md-block">
            <label> Password</label>
            <input type="password" rows="2" md-select-on-focus name="spassword" ng-model="udata.spassword"
                ng-pattern="/^[a-zA-Z]\w{7,15}$/" required md-no-asterisk>
            <div ng-messages="stuForm.spassword.$error">

                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">Name Password must be above 8 - 15 Charcter</div>

            </div>
        </md-input-container>

        <md-button class="md-raised md-warm" ng-click="reset()" name="submit">
            Reset
        </md-button>

        <md-button ng-disabled="stuForm.$invalid" class="md-raised md-primary" ng-click="Register()" name="submit">
            send
        </md-button>

        <a href="#!sAdmin">
            <md-button>
                Already have an account!
                <img src="./app/image/students.png" class="avatar">
            </md-button>
        </a>

    </form>

    <!-- This field is used to check the proper functioning
    <pre>
        {{ stuForm | json }}
    </pre> -->

</div>

<script src="../js/studata.js"></script>


<!-- End of the Form Field -->